<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <h3>Pages</h3>

  <button ion-button (click)="goHelloWorld()">Hello World</button>

  <h1>YOUR NUMBER : {{ number }}</h1>
  <button ion-button (click)="switchNumber(42)" block>42</button>
  <button ion-button (click)="switchNumber(1337)" block>1337</button>

  <h1>Tableau</h1>
  <ion-item *ngFor="let a of arr">
    <h2>{{ a }}</h2>
  </ion-item>

  <h1>Objet</h1>
  <ion-item *ngFor="let level of levels">
    <h2>{{ level.name }}</h2>
  </ion-item>

  <div *ngIf="undefined !== user.name">
    <h1>User</h1>
    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="{{ user.picture.thumbnail }}">
        </ion-avatar>
        <h2>{{ user.name.title }} {{ user.name.last }} {{ user.name.first }}</h2>
        <p>{{ user.gender }}</p>
        <p>{{ user.email }}</p>
      </ion-item>
    </ion-list>
    <button ion-button (click)="loadUser()" block>Get new user</button>
  </div>

  <h1>{{ 'WELCOME' | translate }}</h1>
  <button ion-button (click)="switchLocale('en')" block>Anglais</button>
  <button ion-button (click)="switchLocale('fr')" block>Français</button>

  <h3>Depuis des variables</h3>
  <p>{{ welcome }}</p>
  <p>{{ welcome_name }}</p>

  <h1>Sounds</h1>
  <button ion-button *ngFor="let sound of sounds" (click)="playSound(sound)" block>{{ sound }}</button>

</ion-content>
